parameters:
  http.views.dir: '../www/views'
  dispatcher.separator: '/'
  beanstalk.connection.name: 'beanstalk'

services:
  api.config.storage.phalcon:
    decorates: api.config.storage
    decoration_priority: 100
    class: Vain\Phalcon\Api\Config\Storage\PhalconApiConfigStorage
    arguments: ['@api.config.storage.phalcon.inner', '@app.router']
  app.di:
    public: true
    class: Vain\Phalcon\Di\Symfony\SymfonyContainerAdapter
    arguments: ['@service_container']
  app.bootstrapper.factory.mvc:
    public: true
    class: Vain\Phalcon\Bootstrapper\Factory\MvcBootstrapperFactory
  app.bootstrapper.factory.cli:
    public: true
    class: Vain\Phalcon\Bootstrapper\Factory\CliBootstrapperFactory
  app.router:
    public: true
    class: Phalcon\Mvc\Router
    arguments: [false]
  router:
    public: true
    alias: app.router
  app.dispatcher:
    public: true
    class: Vain\Phalcon\Dispatcher\Mvc\MvcDispatcher
    arguments: ['%dispatcher.separator%']
    calls:
      - [setEventsManager, ['@event.manager']]
      - [setParams, [[]]]
  dispatcher:
    public: true
    alias: app.dispatcher
  app.model.manager:
    public: true
    class: Vain\Phalcon\Mvc\Model\PhalconModelManager
    calls:
      - [setEventsManager, ['@event.manager']]
      - [setDI, ['@app.di']]
  modelsManager:
    public: true
    alias: app.model.manager
  app.modelsMetadata:
    public: true
    class: Phalcon\Mvc\Model\MetaData\Memory
  modelsMetadata:
    public: true
    alias: app.modelsMetadata
  app.mvc.phalcon:
    public: true
    class: Phalcon\Mvc\Application
    arguments: ['@app.di']
  http.application:
    public: true
    class: Vain\Phalcon\Application\Mvc\PhalconApplication
    arguments: ['@app.mvc.phalcon', '@http.response.proxy']
  app.mvc:
    public: true
    alias: http.application
  app.escaper:
    public: true
    class: Phalcon\Escaper
  escaper:
    public: true
    alias: app.escaper
  app.security:
    public: true
    class: Phalcon\Security
  security:
    public: true
    alias: app.security
  app.crypt:
    public: true
    class: Phalcon\Crypt
  crypt:
    public: true
    alias: app.crypt
  app.annotations:
    public: true
    class: Phalcon\Annotations\Adapter\Memory
  annotaions:
    public: true
    alias: app.annotations
  app.tag:
    public: true
    class: Phalcon\Tag
  tag:
    public: true
    alias: app.tag
  app.session:
    public: true
    class: Phalcon\Session\Adapter\Files
  session:
    public: true
    alias: app.session
  app.session.bag:
    public: true
    class: Phalcon\Session\Bag
  sessionBag:
    public: true
    alias: app.session.bag
  app.transaction.manager:
    public: true
    class: Phalcon\Mvc\Model\Transaction\Manager
    arguments: ['@app.di']
  transactionManager:
    public: true
    alias: app.transaction.manager
  app.assets:
    public: true
    class: Phalcon\Assets\Manager
  assets:
    public: true
    alias: app.assets
  event.dispatcher.phalcon:
    decorates: event.dispatcher
    decoration_priority: 100
    class: Vain\Phalcon\Event\Dispatcher\PhalconEventDispatcher
    arguments: ['@event.dispatcher.phalcon.inner']
  eventManager:
    public: true
    alias: event.dispatcher
  event.manager:
    public: true
    alias: event.dispatcher
  http.filter:
    public: true
    class: Phalcon\Filter
  filter:
    public: true
    alias: http.filter
  http.header.factory:
    class: Vain\Phalcon\Http\Header\Factory\PhalconHeaderFactory
  http.header.provider: '@http.header.provider.server'
  http.cookie.factory:
    class: Vain\Phalcon\Http\Cookie\Factory\PhalconCookieFactory
  http.factory:
    public: true
    class: Vain\Phalcon\Http\Factory\PhalconHttpFactory
    arguments: ['@http.filter', '@http.header.provider','@http.cookie.factory' ,'@http.header.factory']
  http.response.proxy:
    public: true
    class: Vain\Phalcon\Http\Response\Proxy\PhalconResponseProxy
  response:
    public: true
    alias: http.response.proxy
  http.response.factory:
    public: true
    alias: http.factory
  http.request.proxy:
    public: true
    class: Vain\Phalcon\Http\Request\Proxy\PhalconRequestProxy
  request:
    public: true
    alias: http.request.proxy
  http.request.factory:
    public: true
    alias: http.factory
  http.view:
    public: true
    class: Phalcon\Mvc\View
    calls:
      - [setViewsDir, ['%http.views.dir%']]
      - [registerEngines, [{'.phtml': 'http.engine.php','.php': 'http.engine.php','.volt': 'http.engine.volt'}]]
  view:
    public: true
    alias: http.view
  http.engine.php:
    public: true
    class: Phalcon\Mvc\View\Engine\Php
    arguments: ['@http.view', '@app.di']
  http.engine.volt:
    public: true
    class: Phalcon\Mvc\View\Engine\Volt
    arguments: ['@http.view', '@app.di']
  http.url:
    public: true
    class: Phalcon\Mvc\Url
  url:
    public: true
    alias: http.url
  http.cookie.storage:
    class: Vain\Phalcon\Http\Cookie\Storage\PhalconCookieStorage
    arguments: ['@http.cookie.factory']
  cookies:
    public: true
    class: Phalcon\Http\Response\Cookies
  http.flash:
    public: true
    class: Phalcon\Flash\Direct
  flash:
    public: true
    alias: http.flash
  http.flash.session:
    public: true
    class: Phalcon\Flash\Session
  flashSession:
    public: true
    alias: http.flash.session
  entity.operation.factory.phalcon:
    parent: entity.operation.factory.abstract
    class: Vain\Phalcon\Entity\Operation\Factory\PhalconEntityOperationFactory
  database.factory.phalcon:
    class: Vain\Phalcon\Database\Factory\PhalconDatabaseFactory
    arguments: ['phalcon', '@database.generator.factory']
    tags:
      - {name: database.factory}
  api.config.parameter.factory.url:
    class: Vain\Phalcon\Api\Config\Parameter\Source\Factory\ApiConfigParameterUrlFactory
    arguments: ['@app.dispatcher']
    tags:
        - {name: source.factory}
  http.request:
    public: true
    alias: http.request.proxy
  http.response:
    public: true
    alias: http.response.proxy
  connection.beanstalk:
    parent: connection.abstract
    class: Vain\Phalcon\Queue\Beanstalk\BeanstalkConnection
    arguments: ['%beanstalk.connection.name%']
    tags:
      - {name: connection}
  queue.factory.beanstalk:
    class: Vain\Phalcon\Queue\Beanstalk\Factory\BeanstalkQueueFactory
    arguments: ['beanstalk', '@queue.message.factory.storage']
    tags:
      - {name: queue.factory}